/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f4f4f4;
  padding: 2rem;
}

/* Global adjustments for mobile devices */
@media (max-width: 768px) {
  .app-container {
      padding: 1rem;
  }
}

@media (max-width: 480px) {
  body {
      font-size: 14px;
  }

  .app-container {
      padding: 0.5rem;
  }
}